/* general
 * for all style applicable globally
 */


/* app frame & content 
*/

div#root,
div.app {
    @include flex();
    height: 100%;
    width: 100%;
    background-color: $color-secondary-black;
}

@media (max-width: $breakpoint-mobile) {
    div.app {
        @include flex(column-reverse, center, center);
    }
}

.content {
    @include flex(column);
    width: 100%;
    height: 100%;
}

.content-inner {
    @include flex(column, flex-start, flex-start);
    gap: 20px;
    height: calc(100% - $size-header-height);
    width: 100%;
    background-color: $color-main-black;
    box-shadow: -5px -5px 15px rgba(20, 20, 20, 0.35);
    border-radius: 30px 0px 0px 0px;
    padding: 20px;
}

@media (max-width: $breakpoint-mobile) {
    .content-inner {
        border-radius: 0px;
        height: 100%;
    }
}


/* pills
*/

.pill {
    @include flex(row, center, center);
    padding: 4px 10px;
    border-radius: 5px;
    width: fit-content;
    & p {
        color: $color-secondary-black;
        white-space: nowrap;
    }
    &.noIcon {
        &.on {
            background-color: $color-secondary-black-50;
        }
        &.off {
            background-color: $color-secondary-black;
            & p {
                color: $color-main-black-20;
            }
        }
    }
    &.withIcon {
        @include flex(row, center, center);
        gap: 5px;
        color: $color-secondary-black;
        & .icon {
            fill: $color-secondary-black;
            height: 20px;
            width: 20px;
        }
        &.on {
            background: $color-accent;
        }
        &.off {
            background: $color-secondary-black-50;
        }
        &.noValue {
            background: $color-secondary-black-50;
            opacity: 50%;
        }
    }
    &.iconOnly {
        background: transparent;
        padding: 0;
        &.on {
            & .icon {
                fill: $color-accent;
            }
        }
        &.off {
            & .icon {
                fill: $color-secondary-black-50;
            }
        }
        &.noValue {
            display: none;
        }
    }
}

.choicePill {
    @include flex(row, center, center);
    padding: 4px 10px;
    background-color: $color-secondary-black;
    border-radius: 5px;
    width: fit-content;
    gap: 5px;
    &.selected {
        background-color: $color-main-black-50;
    }
    &.edit {
        cursor: pointer;
    }
    & svg {
        height: 20px;
        width: 20px !important;
    }
}


/* illustrations
*/

.illustration {
    & .filled {
        fill: $color-accent;
    }
    & .outlined {
        outline: $color-accent;
    }
}


/* Cards List
*/

.cardsList {
    display: block;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    .cardsWrapper {
        @include flex(column, center, center);
        width: 100%;
        gap: 20px;
        height: fit-content;
        @media (max-width: $breakpoint-mobile) {
            padding-bottom: calc($size-nav-mobile-height + env(safe-area-inset-bottom));
        }
        & .card {
            @include flex(column, center, center);
            width: 100%;
            gap: 4px;
            padding: 8px 16px;
            background-color: $color-secondary-black;
            border-radius: 15px;
            box-shadow: $effect-inner-shadow;
            cursor: pointer;
            &.selected {
                background-color: $color-main-black-50;
            }
            & .line {
                @include flex(row, space-between, center);
                width: 100%;
            }
        }
    }
}

// .list {
//     border-spacing: 0 20px;
//     width: 100%;
//     & .listItem {
//         background-color: $color-secondary-black;
//         box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
//         cursor: pointer;
//         border-radius: 15px;
//         & .listColumn {
//             padding: 10px;
//             text-align: center;
//             &:first-child {
//                 padding-left: 20px;
//                 border-radius: 15px 0px 0px 15px;
//             }
//             &:last-child {
//                 padding-right: 20px;
//                 border-radius: 0px 15px 15px 0px;
//             }
//         }
//         &.selected {
//             background-color: $color-main-black-50;
//         }
//     }
// }

/* icons
*/

svg {
    @include icon();
    height: 20px;
    width: 20px;
}

svg.illustration {
    height: unset;
    width: unset;
}

// Style for profilePicture
.profilePicContainer {
    // @include flex(column, center, center);
    // width: 100%;
    // height: 100%;
    width: 100px;
    height: 100px;
    position: relative;
    & img,
    button {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    & img {
        object-fit: cover;
    }
    & input[type="file"] {
        display: none;
    }
    & button.profilePicEditButton {
        background-color: transparent;
        border: none;
        & svg {
            display: none;
        }
        &:hover {
            background-color: black;
            opacity: 0.5;
            & svg {
                display: inline;
            }
        }
    }
}


/* Style for Pic & Name
*/

.picAndName {
    @include flex(row, flex-start, center);
    gap: 10px;
    width: fit-content;
    --gap-pictures: -4px;
    & .picsWrapper {
        @include flex();
        width: fit-content;
        flex-wrap: nowrap;
        padding-left: calc(-1 * var(--gap-pictures));
    }
    & img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        object-fit: cover;
    }
    & .noPic {
        @include flex();
        width: 35px;
        height: 35px;
        border-radius: 100%;
        object-fit: cover;
        aspect-ratio: 1;
        background-color: $color-main-black-50;
    }
    & img,
    .noPic {
        border: 1px solid $color-main-black;
        margin-left: var(--gap-pictures);
    }
    &>img,
    >.noPic {
        margin-left: 0;
    }
    & .namesWrapper {
        @include flex(column, center, flex-start);
        gap: 4px;
        & h3 {
            white-space: nowrap;
        }
    }
    & .name {
        @include flex(column, center, flex-start);
        gap: 10px;
        width: 100%;
        padding: 10px 0px;
    }
}


/* Filter Panel
*/

.filterWrapper {
    // & svg {}
    position: relative;
    & .filterPanel {
        display: none;
        &.visible {
            @include flex(column);
            gap: 10px;
            position: absolute;
            z-index: 10;
            top: 20;
            right: 0;
            width: fit-content;
            height: fit-content;
            background-color: $color-secondary-black;
            padding: 10px;
            border-radius: 15px;
            box-shadow: $effect-inner-shadow;
            padding: 20px 20px 20px 30px;
        }
        & .sortOrder {
            @include flex(row, center, center);
            width: 100%;
        }
        & .filtersWrapper {
            @include flex(column, center, flex-start);
            gap: 10px;
            & .filterGroup {
                @include flex(column, center, flex-start);
                gap: 10px;
                width: 100%;
                & .filterTitle {}
                & .filterItem {
                    @include flex(row, space-between, center);
                    gap: 10px;
                    width: 100%;
                    & .filterItem-switch {
                        margin-left: auto;
                        width: 15px;
                        height: 15px;
                        border-radius: 100%;
                        background-color: $color-main-black-50;
                        box-shadow: $effect-inner-shadow;
                        cursor: pointer;
                        &.selected {
                            background-color: $color-main-black-20;
                        }
                    }
                    & .filterItem-text {
                        @include flex(row, center, center);
                        gap: 10px;
                    }
                    & .filterItem-actions {
                        @include flex(row, center, center);
                        gap: 10px;
                        // width: 100%;
                    }
                }
            }
        }
    }
}


/* Ok Query
*/

.okQuery {
    @include flex(column);
    position: absolute;
    top: 100px;
    right: 20px;
    background: $color-blue;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
}


/* 404 
*/

.error404 {
    @include flex(column);
    padding: 60px;
    gap: 30px;
    color: $color-blue;
}