.personName {
    @include flex(row, center, center);
    gap: 10px;
    & img.profilePic {
        width: 35px;
        height: 35px;
    }
    // & p.name {}
}

.choicePill {
    @include flex(row, center, center);
    padding: 10px;
    background-color: $color-secondary-black;
    border-radius: 5px;
    width: fit-content;
    &.selected {
        background-color: $color-main-black-50;
    }
    &.edit {
        cursor: pointer;
    }
}

.illustration {
    & .filled {
        fill: $color-accent;
    }
    & .outlined {
        outline: $color-accent;
    }
}