@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
h1,
h2,
h3,
h4,
p,
div {
    color: $color-main-black-20;
}

input,
textarea,
select {
    font-family: $font-main;
}

p {
    font-family: $font-main;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
}

h1 {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 44px;
}

h2 {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
}

h3 {
    font-family: $font-main;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

@media (max-width: $breakpoint-mobile) {
    p {
        font-size: 13px;
        line-height: 15px;
    }
    h4 {
        line-height: 20px;
    }
}

a {
    width: 100%;
    font-family: $font-main;
    font-style: underline;
    color: $color-blue;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
}