@mixin flex( $flex-direction: row, $justify-content: center, $align-items: center) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin icon($color: $color-main-black-20) {
    &.filled {
        fill: $color;
    }
    &.outlined {
        stroke: $color;
        fill: transparent;
    }
}