.nav {
    @include flex(column, flex-start, center);
    height: 100%;
    width: $size-nav-width;
    background-color: $color-secondary-black;
    padding: 50px 0px;
    & .logo {
        width: 100px;
        height: 100px;
        // fill: $color-accent;
        // filter: invert(75%) sepia(48%) saturate(171%) hue-rotate(176deg) brightness(102%) contrast(89%);
    }
    & .menu {
        @include flex(column, flex-start, flex-start);
        gap: 10px;
        width: 100%;
        padding: 50px 0px 50px 20px;
        & .menuItem {
            @include flex(row, flex-start);
            gap: 10px;
            width: 100%;
            color: white;
            border-radius: 20px 0px 0px 20px;
            padding: 15px 20px;
            text-decoration: none;
            & svg {
                width: 20px;
                height: 20px;
                @include icon($color-blue);
            }
            &.menuItem.active {
                background-color: $color-main-black;
                padding: 20px;
            }
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .nav {
        position: fixed;
        z-index: 999;
        bottom: 0;
        width: 100%;
        height: $size-nav-mobile-height;
        padding: 0px;
        & .mobileMenu {
            @include flex(row, space-around, flex-end);
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 15%, #000000 100%);
            border-radius: 0px;
            padding-bottom: 10px;
            & .menuItem {
                @include flex(row, center, center);
                width: 50px;
                height: 50px;
                &.active {
                    background-color: $color-main-black;
                    border-radius: 20px;
                    box-shadow: inset 0px 4px 4px rgba(240, 240, 240, 0.25);
                    .svg {
                        color: $color-accent;
                    }
                }
            }
            & .logo {
                width: 50px;
                height: 50px;
                padding: 10px;
            }
        }
    }
}