.nav {
    @include flex(column, flex-start, center);
    height: 100%;
    width: $size-nav-width;
    background-color: $color-secondary-black;
    padding: 50px 0px;
    gap: 15px;
    & .logo {
        width: 100px;
        height: 100px;
        // fill: $color-accent;
        // filter: invert(75%) sepia(48%) saturate(171%) hue-rotate(176deg) brightness(102%) contrast(89%);
    }
    & .menu {
        @include flex(column, flex-start, flex-start);
        gap: 10px;
        width: 100%;
        padding: 50px 0px 50px 20px;
        & .menuItem {
            @include flex(row, flex-start);
            gap: 10px;
            width: 100%;
            color: white;
            border-radius: 20px 0px 0px 20px;
            padding: 15px 20px;
            text-decoration: none;
            & svg {
                width: 20px;
                height: 20px;
                @include icon($color-blue);
            }
            &.menuItem.active {
                background-color: $color-main-black;
                padding: 20px;
            }
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .nav {
        position: fixed;
        z-index: 999;
        bottom: 0;
        width: 100%;
        height: $size-nav-mobile-height;
        padding: 0;
        padding-bottom: env(safe-area-inset-bottom);
        box-sizing: content-box;
        background: linear-gradient( 180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.829227) 32.81%, rgba(0, 0, 0, 0.9) 99.99%);
        backdrop-filter: blur(4px);
        & .mobileMenu {
            @include flex(row, space-around, center);
            width: 100%;
            height: 100%;
            // border-top: 0.5px solid $color-blue;
            background: transparent;
            border-radius: 0px;
            // padding-bottom: 10px;
            // padding-bottom: calc(10px + env(safe-area-inset-bottom));
            // padding-bottom: env(safe-area-inset-bottom);
            & .menuItem {
                @include flex(row, center, center);
                width: 50px;
                height: 50px;
                &.active {
                    background: $color-accent;
                    box-shadow: inset 0px 0px 5px 2px #777777;
                    border-radius: 20px;
                    & svg {
                        @include icon($color-main-black);
                    }
                }
            }
            & .logo {
                width: 50px;
                height: 50px;
                padding: 10px;
            }
        }
    }
}