.partners-page-inner {
    @include flex();
    height: 100%;
    width: 100%;
    gap: 20px;
    & .side {
        @include flex(row, center, flex-start);
        gap: 20px;
        &.left-side {
            flex: 1;
        }
        &.right-side {
            flex: 2;
            width: 100%;
            & .none {
                height: 100%;
            }
        }
    }
}

.profile {
    @include flex(row, flex-start);
    width: 100%;
    & form {
        @include flex(row);
        gap: 20px;
        width: 100%;
        &>.column {
            &.left {
                flex: 1;
            }
            &.right {
                flex: 2;
                width: 100%;
            }
        }
        & .column {
            @include flex(column);
            gap: 20px;
            width: 100%;
            & .header {
                @include flex(column, flex-start, flex-end);
                width: 100%;
                gap: 10px;
                & .personHeader {
                    @include flex(column, center, center);
                    width: 100%;
                    gap: 20px;
                    padding: 0px 10px;
                    & .name {
                        @include flex(row, center, center);
                        gap: 10px;
                    }
                    & .profilePic {
                        width: 100px;
                        height: 100px;
                        border-radius: 100%;
                    }
                }
                & svg {
                    width: 30px;
                    height: 30px;
                    margin-left: auto;
                }
            }
            & .info {
                width: 100%;
                @include flex(row, center, flex-start);
                gap: 20px;
                & .infoGroup {
                    @include flex(column, center, flex-start);
                    background-color: $color-secondary-black;
                    border-radius: 15px;
                    padding: 10px 20px;
                    width: 100%;
                    gap: 10px;
                    & .infoItem {
                        @include flex(row, center, center);
                        & .label {}
                        & .value {}
                        gap: 20px;
                        & svg {
                            width: 20px;
                            height: 20px;
                            margin-left: auto;
                        }
                    }
                    & .infoSeparator {
                        width: 100%;
                        background-color: $color-main-black-50;
                        height: 1px;
                    }
                }
            }
        }
    }
}