.content {
    & .content-inner {
        & .profileHeader {
            @include flex(row, space-between, center);
            width: 100%;
            & h1 {
                width: 100%;
            }
            & .headerItem {
                width: fit-content;
                height: fit-content;
                & svg {
                    width: 35px;
                    height: 35px;
                }
            }
        }
        & .profile {
            @include flex(column, flex-start, flex-start);
            gap: 20px;
            & .profileItem {
                @include flex(column, center, flex-start);
                padding: 20px;
                background-color: $color-secondary-black;
                border-radius: 25px;
                box-shadow: $effect-inner-shadow;
            }
        }
    }
}

@media (min-width: $breakpoint-mobile) {
    .content {
        & .content-inner {
            & .profileHeader {
                & .headerItem {
                    display: none;
                }
            }
        }
    }
}